In [97]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests as req
import requests as req

In [98]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [99]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [100]:
# Convert the browser html to an objecgt and the quit the browser.
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [101]:
elem = news_soup.select_one('ul.item_list li.slide')

In [102]:
title = elem.find("div", class_='content_title').get_text()
title

"Air Deliveries Bring NASA's Perseverance Mars Rover Closer to Launch"

In [103]:
paragraph = elem.find("div", class_='article_teaser_body').get_text()
paragraph

"A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover's sample collection tubes — to Florida for this summer's liftoff."

### JPL Mars Space Images

In [104]:
# Visit the JPL Mars URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [105]:
# Scrape the browser into soup and use soup to find the image of mars
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [106]:
# Save the image url to a variable called `featured_image_url`
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = soup.find("img", class_="thumb")["src"]
img_url = "https://jpl.nasa.gov"+image
featured_image_url = img_url

In [107]:
# Use the requests library to download and save the image from the `featured_image_url` above
import requests
import shutil
response = requests.get(img_url, stream=True)
with open('img.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)
    
# Display the image with IPython.display
from IPython.display import Image
Image(url='img.jpg')

### Mars Weather

In [127]:
# Visit the Mars Weather twitter account and scrap the lates Mars weather tweet.
browser = Browser('chrome', headless=False)                                 
tweet_url = 'https://twitter.com/marswxreport?lang=en'                      
browser.visit(tweet_url)

In [128]:
# HTML Object 
html_tweet = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html_tweet, 'html.parser')

In [142]:
# Find all elements that contain tweets
latest_tweets = soup.find_all('div', class_='js-tweet-text-container')
# Retrieve all elements that contain news title in the specified range
# Look for entries that display weather related words to exclude non weather related tweets 
for tweet in latest_tweets: 
    mars_weather = tweet.find('p').text
    if 'Sol' and 'pressure' in mars_weather:
        print(mars_weather)
        break
    else: 
        pass

### Mars Facts

In [133]:
import pandas as pd

In [134]:
url = "https://space-facts.com/mars/"
browser.visit(url)

In [146]:
# Use Pandas to "read_html" to parse the URL
tables = pd.read_html(url)

#Find Mars Facts DataFrame in the lists of DataFrames
df = tables[1]

In [149]:
#Assign the columns
df.columns = ['param', 'Description', 'Value']
html_table = df.to_html(table_id="html_tbl_css",justify='left',index=False)
data = df.to_dict(orient='records')  # Here's our added param..
df

                param      Description            Value
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days
5        Temperature:    -153 to 20 °C      -88 to 58°C

In [150]:
#Save html to folder and show as html table string
mars_df = df.to_html(classes = 'table table-striped')
print(mars_df)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>param</th>
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Temperature:</td>
      <td>-153 to 20 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres