In [102]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests as req
import requests as req
import time

In [103]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [48]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [49]:
# Convert the browser html to an objecgt and the quit the browser.
html = browser.html
news_soup = bs(html, 'html.parser')

In [50]:
elem = news_soup.select_one('ul.item_list li.slide')

In [51]:
title = elem.find("div", class_='content_title').get_text()
title

"The Launch Is Approaching for NASA's Next Mars Rover, Perseverance"

In [52]:
paragraph = elem.find("div", class_='article_teaser_body').get_text()
paragraph

"The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. "

### JPL Mars Space Images

In [53]:
# Visit the JPL Mars URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [54]:
# Locate and click the full image button.
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [55]:
# Find the more info button to click, then navigate to page.
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.find_link_by_partial_text('more info')
more_info_elem.click()

In [56]:
# Scrape the browser into soup and use soup to find the image of mars
html = browser.html
image = bs(html, 'html.parser')

In [57]:
# Locate relative image url.
img_url = image.select_one('figure.lede a').get("href")

In [58]:
# Save the image url to a variable called `featured_image_url`

featured_image_url = f"https://www.jpl.nasa.gov{img_url}"
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16105_hires.jpg'

### Mars Weather

In [104]:
# Visit the Mars Weather twitter account and scrap the lates Mars weather tweet.
browser = Browser('chrome', headless=False)                             
tweet_url = 'https://twitter.com/marswxreport?lang=en'                      
browser.visit(tweet_url) 
time.sleep(5)

In [105]:
# HTML Object 
html_tweet = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html_tweet, 'html.parser')

In [106]:
# Find all elements that contain tweets
# latest_tweets = soup.find_all('div', class_='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0')

latest_tweets = soup.find_all('span')
all_tweets = []
for x in latest_tweets:
    x = x.text
#     print(len(x))
    if len(x) >100:
        all_tweets.append(x)
#         print(x)

In [108]:
for i in all_tweets:
    if "InSight" in i:
        mars_weather = i 
        break 
    else:
        continue
print (mars_weather)

InSight sol 555 (2020-06-18) low -91.0ºC (-131.8ºF) high -3.5ºC (25.6ºF)
winds from the W at 5.2 m/s (11.7 mph) gusting to 19.3 m/s (43.3 mph)
pressure at 7.50 hPa

In [88]:
# for t in latest_tweets:
#     mars_weather = t.find('span').get_text()
#     print(mars_weather)
#     if 'InSight' in mars_weather:
#         break
#     else:
#         continue

In [90]:
# mars_weather = mars_weather.replace('\n', ' ')
# mars_weather

In [92]:
import pandas as pd

In [95]:
url = "https://space-facts.com/mars/"
# browser.visit(url)

In [97]:
# Use Pandas to "read_html" to parse the URL
tables = pd.read_html(url)

#Find Mars Facts DataFrame in the lists of DataFrames
df = tables[1]
df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [99]:
#Assign the columns
df.columns = ['param', 'Description', 'Value']
html_table = df.to_html(table_id="html_tbl_css",justify='left',index=False)
data = df.to_dict(orient='records')  # Here's our added param..
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>param</th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
#Save html to folder and show as html table string
mars_df = df.to_html(classes = 'table table-striped')
print(mars_df)

### Mars Hemispheres

In [ ]:
# Visit the Mars Hemispheres URL
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [ ]:
hemisphere_image_urls = []

# Get a List of All the Hemispheres
links = browser.find_by_css("a.product-item h3")
for item in range(len(links)):
    hemisphere = {}
    
    # Find Element on Each Loop to Avoid a Stale Element Exception
    browser.find_by_css("a.product-item h3")[item].click()
    
    # Find Sample Image Anchor Tag & Extract <href>
    sample_element = browser.find_link_by_text("Sample").first
    hemisphere["img_url"] = sample_element["href"]
    
    # Get Hemisphere Title
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Append Hemisphere Object to List
    hemisphere_image_urls.append(hemisphere)
    
    # Navigate Backwards
    browser.back()

In [ ]:
hemisphere_image_urls